{% extends "base.html" %} {% block titulo %} Mis publicaciones {% endblock %} 

{% block contenido_principal %}
<h2>Mis compras</h2>

<!-- Agregar Canción -->
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Categoría</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
		{% for producto in productos %}
			<tr>
				<td>{{ producto.nombre }}</td>
				<td>{{ producto.categoria }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}
