<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Descripción de la empresa</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Add custom CSS here -->
    <style>
        body {
            margin-top: 125px;
            /* adjust this if the height of the menu bar changes */
        }

        .nav {
            margin-top: 28px;
            /* this is a faux center fix for the nav options - adjust this if you wish to change the logo height or the font of the menu items */
        }

        footer {
            padding: 30px 0;
        }

        .list-group-somefacts {
            margin-top: 15px;
        }

        .padding80 {
            padding: 80px;
        }

        .bgcolor-voilet {
            background-color: #000629;
            color: #fff;
        }

        .tmargin10 {
            margin-top: 10px;
        }

        .tmargin40 {
            margin-top: 40px;
        }

        .tmargin30 {
            margin-top: 30px;
        }

        .how-section1 {
            margin-top: -15%;
            padding: 10%;
        }

        .how-section1 h4 {
            color: #ffa500;
            font-weight: bold;
            font-size: 30px;
        }

        .how-section1 .subheading {
            color: #3931af;
            font-size: 20px;
        }

        .how-section1 .row {
            margin-top: 10%;
        }

        .how-img {
            text-align: center;
        }

        .how-img img {
            width: 40%;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand logo-nav" href="#">
                    <img src="/img/logoinversion.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">Sobre Nosotros</a>
                    </li>
                    <li><a href="#services">Servicios</a>
                    </li>
                    <li><a href="/contacto">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                <img class="img-responsive img-rounded" src="/img/main.png">
                <!-- take out img-rounded if you don't want the rounded corners on the image -->
            </div>
            <div class="col-lg-4">
                <h1>DPIU</h1>
                <p>
                    DPIU CAPITAL ES EL FONDO DE CAPITAL PRIVADO LÍDER EN ESPAÑA EN INVERSIONES EN
                    SITUACIONES ESPECIALES CON MÁS DE 1200 MILLONES DE EUROS BAJO GESTIÓN.
                </p>
                <a class="btn btn-primary btn-lg" href="/contacto">Contáctanos!</a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Para más información llámanos al 985 64 21 57.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <h2>Quien Somos</h2>
                <p>
                    DPIU CAPITAL es el fondo de capital privado líder en inversiones en medianas empresas en
                    España que atraviesan situaciones especiales, de especial complejidad y/o que requieren
                    procesos de transformación. En este sentido, típicamente invierte tanto en el capital como en
                    la deuda de empresas que cuentan con un buen posicionamiento estratégico pero que se
                    enfrentan a importantes desafíos estratégicos, operativos, financieros o accionariales.
                </p>
                <a class="btn btn-default" data-toggle="collapse" href="#moreInfo" role="button" aria-expanded="false"
                    aria-controls="moreInfo">Más Info</a>
                <div class="collapse" id="moreInfo">
                    <div class="card card-body">
                        La tesis de inversión caracteriza a DPIU CAPITAL como un socio activo y comprometido que
                        contribuye con una visión de largo plazo, el capital necesario, un equipo propio con talento y
                        una dilatada experiencia para crear valor y asegurar la competitividad de las empresas donde
                        invierte.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2>Con quién trabajamos</h2>
                <p>
                    DPIU CAPITAL está respaldada por importantes inversores institucionales internacionales y por
                    empresarios de éxito en sus respectivos sectores. Junto a ello, los propios gestores de DPIU
                    CAPITAL mantienen igualmente un importante compromiso como inversores en el fondo DPIU CAPITAL está
                    registrada en la CNMV como Sociedad Gestora de Entidades de Inversión
                    de Tipo Cerrado.
                </p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <div class="col-lg-4">
                <h2>Nuestro equipo</h2>
                <p>
                    Nuestro equpo está formado por destacados ejecutivos procedentes de firmas de consultoría,
                    puestos directivos, capital riesgo y banca de inversión, todos ellos con una dilatada experiencia en
                    el sector de la reestructuración empresarial.
                    Además, nos asociamos con equipos gestores en la ejecución de loso planes de viabilidad y de
                    reestructuración
                    de las compañías objetivo.
                </p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
        </div>

        <ul class="list-group-somefacts">
            <li class="list-group-item">
                DPIU CAPITAL AL CONSTITUYE LA FIRMA MÁS ACTIVA EN INVERSIONES EN SITUACIONES
                ESPECIALES DE TAMAÑO MEDIO
            </li>
            <li class="list-group-item">
                DPIU CAPITAL ha realizado 129 inversiones en los últimos cuatro años posicionándose como la
                firma líder en situaciones especiales de tamaño medio en España.
            </li>
            <li class="list-group-item">
                DPIU CAPITAL cuenta con el equipo más experimentado en España para invertir en situaciones
                especiales
            </li>
            <li class="list-group-item">
                DPIU CAPITAL goza de claras ventajas competitivas en el cierre de la transacción dada su
                capacidad para cerrar operaciones de manera rápida (en 30 días), y su flexibilidad en la
                estructura de la operación (participaciones, precios, deuda, etc.) y las garantías aportadas por
                los vendedores.
            </li>
        </ul>

        <div class="padding80 bgcolor-voilet">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>
                            Importantes grupos financieros e industriales han confiado en SHERPA DPIU CAPITAL para
                            desinversiones de parte de sus activos
                        </h2>
                        <p class="tmargin10">

                            Una única labor: la gestión de activos financieros DPIU CAPITAL opta por gestionar una gama
                            limitada de estrategias para lograr una mayor revalorización del capital de sus clientes a
                            lo
                            largo del tiempo.
                            En cuanto a nuestro método, preferimos una gestión realista basada en nuestras destrezas.

                            Los productos insignia de la casa, DPIU CAPITAL Investissement, DPIU CAPITAL Patrimoine y
                            DPIU CAPITAL Securité, se lanzaron en 1989, con una marcada orientación internacional y
                            hacia los países emergentes. Desde entonces, estos dos Fondos no han dejado de demostrar
                            su resistencia a largo plazo, especialmente en periodos muy bajistas. Esa solidez corrobora
                            la
                            capacidad de DPIU CAPITAL para compaginar rentabilidad y gestión de riesgos.

                            El Objetivo:

                        </p>
                        <ul class="text-black tmargin40">
                            <li><span style="font-size: 15px" class="glyphicon glyphicon-cog"></span>
                                Inversiones en empresas en situaciones especiales que se enfrentan a importantes retos
                                estratégicos, operativos o financieros pero que cuenta con ventajas competitivas
                                sostenibles y
                                con posiciones relevantes en sus mercados.
                            </li>
                            <li><span style="font-size: 15px" class="glyphicon glyphicon-cog"></span>
                                Facturación entre € 20M y 300M si bien no se descartan operaciones de mayor tamaño en
                                coinversión.
                            </li>
                            <li><span style="font-size: 15px" class="glyphicon glyphicon-cog"></span>
                                Enfoque multi-sectorial excepto sector financiero e inmobiliario.
                            </li>
                            <li><span style="font-size: 15px" class="glyphicon glyphicon-cog"></span>
                                Interés especial por oportunidades de consolidación sectoriales (buy and build).
                            </li>
                            <li><span style="font-size: 15px" class="glyphicon glyphicon-cog"></span>
                                Participación siempre con control de la gestión (mayoritaria o minoritaria)
                            </li>
                        </ul>
                        <a href="" class="btn btn-default btn-round tmargin30">Read More</a>
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive tmargin40"
                            src="http://demo.xpeedstudio.com/html/seopress/demo/assets/images/advertising-img.png"
                            alt="Chania" width="460" height="345">
                    </div>
                </div>
            </div>
        </div>

        <div class="how-section1">
            <div class="row">
                <div class="col-md-6 how-img">
                    <img src="/img/edificio.png" class="rounded-circle img-fluid" alt="" />
                </div>
                <div class="col-md-6">
                    <h4>Nuestro método</h4>
                    <h4 class="subheading">
                        Metodología, experiencia y creación de valor de nuestra filosofía se basa en aportar no solo
                        capital
                        sino fundamentalmente gestión como palanca de creación de valor en las inversiones.
                    </h4>
                    <p class="text-muted">
                        El éxito sistemático a lo largo de los años, con rentabilidades muy por encima de la media de la
                        industria, ha permitido a Sherpa Capital desarrollar una metodología para los procesos de
                        transformación de compañías implementada con éxito en más de 150 empresas. Los aspectos
                        fundamentales en los que se sustenta son:
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid">

            <div class="list-group">
                <a href="#" class="list-group-item  list-group-item-info">
                    <h4>Definición y ejecución del PLan de 100 y 200 días.</h4>
                    <p>
                            Trabajo conjunto con el equipo directivo reforzándolo y apoyándolo cuando es necesario con
                            nuestros propios ejecutivos de gestión.
                    </p>
                </a>
                <a href="#" class="list-group-item list-group-item-success">
                    <h4>Planes de crecimiento mediante internacionalización</h4>
                    <p>
                            Planes de adquisiciones para consolidar el sector. Habitualmente todas nuestras participadas
                            adquieren al menos otra compañía de su industria.
                    </p>
                </a>
                <a href="#" class="list-group-item list-group-item-warning active">
                    <h4>Redefinición financiera con especial énfasis en lo relacionado con la estructura financiera y liquidez.</h4>
                    <p>
                        Plan estratégico, reorientación estratégica y operativa del negocio.
                    </p>
                </a>
            </div>

        </div>
        <script>
            // Initialize tooltip component
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            // Initialize popover component
            $(function () {
                $('[data-toggle="popover"]').popover()
            })
        </script>



        <footer>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; DPIU 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->


</body>

</html>